<h4>Weather API</h4>

<p class="text-danger" ng-show="error">{{error}}</p>

<div class="row">
	<div class="col-md-12">
		<form class="form-inline">
			<div class="form-group">
				<input class="form-control" ng-model="city" placeholder="City"/>
			</div>
			<input type="submit" ng-click="weatherController.getWeather()" class="btn btn-primary" value="Get Weather"/>
		</form>
	</div>
</div>

<div ng-include="'views/weather-info.html'"/>

<h3></h3>
<div class="row" ng-show="weather">
	<div class="col-md-12">	
		<div class="google-maps" lon="{{weather.coord.lon}}" lat="{{weather.coord.lat}}" width="300" height="300"/>
	</div>
</div>

<div class="row" ng-show="false">
	<div class="col-md-12">	
		<pre>{{weather.formatted}}</pre>  	
	</div>
</div>
